@font-face {
  font-family: "Overpass-SemiBold";

  src: url("./assets/fonts/Overpass-SemiBold.ttf");
}
@font-face {
  font-family: "SourceSansPro-Regular";

  src: url("./assets/fonts/SourceSansPro-Regular.ttf");
}
@font-face {
  font-family: "SourceSansPro-Bold";

  src: url("./assets/fonts/SourceSansPro-Bold.ttf");
}
